<header class="header">
  <div class="header__logo-box">
    <img src="~/images/logo-whiteo.png" alt="Logo" class="header__logo" />
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Board Games</span>
      <span class="heading-primary--sub">Best selection of board games!</span>
    </h1>
    <a href="#" class="btn btn--white btn--animated">Discover our games</a>
  </div>
</header>
<!--
<secion class="grid-test">
  <div class="row">
    <div class="col-1-of-2">
      col 1 of 2
    </div>
    <div class="col-1-of-2">
      col 1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      col 1 of 3
    </div>
    <div class="col-1-of-3">
      col 1 of 3
    </div>
    <div class="col-1-of-3">
      col 1 of 3
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      col 1 of 3
    </div>
    <div class="col-2-of-3">
      col 2 of 3
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-4">
      col 1 of 4
    </div>
    <div class="col-1-of-4">
      col 1 of 4
    </div>
    <div class="col-1-of-4">
      col 1 of 4
    </div>
    <div class="col-1-of-4">
      col 1 of 4
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-4">
      col 1 of 4
    </div>
    <div class="col-1-of-4">
      col 1 of 4
    </div>
    <div class="col-2-of-4">
      col 2 of 4
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-4">
      col 1 of 4
    </div>
    <div class="col-3-of-4">
      col 3 of 4
    </div>
  </div>
</secion>
-->

<main>
  <section class="section-about">
    <div class="u-center-text u-margin-bottom-8">
      <h2 class="heading-secondary">
        Exiting tours for ppl
      </h2>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-maring-bottom-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
        <p class="paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h3 class="heading-tertiary u-maring-bottom-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </h3>
        <p class="paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <a href="#" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">
        <div class="composition">
          <img src="~/images/party1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
          <img src="~/images/party2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
          <img src="~/images/party3.jpg" alt="Photo 3" class="composition__photo composition__photo--p3">
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <div class="row u-margin-top-8">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-maring-bottom-2">Explore the world</h3>
          <p class="feature-box__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-maring-bottom-2">Explore the world</h3>
          <p class="feature-box__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-maring-bottom-2">Explore the world</h3>
          <p class="feature-box__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-maring-bottom-2">Explore the world</h3>
          <p class="feature-box__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-bestsellers">
    <div class="u-center-text u-margin-bottom-8">
      <h2 class="heading-secondary">
        Bestsellers
      </h2>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--gold">
              &nbsp;
            </div>
            <h4 class="card__heading">
              Golden Choice
            </h4>
            <div class="card__details">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-gold">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$297</p>
              </div>
              <a href="#" class="btn btn--white">Book now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--silver">
              &nbsp;
            </div>
            <h4 class="card__heading">
              Silver Choice
            </h4>
            <div class="card__details">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-silver">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$297</p>
              </div>
              <a href="#" class="btn btn--white">Book now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--bronze">
              &nbsp;
            </div>
            <h4 class="card__heading">
              Bronze Choice
            </h4>
            <div class="card__details">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-bronze">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$297</p>
              </div>
              <a href="#" class="btn btn--white">Book now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-stories">
    <div class="u-center-text u-margin-bottom-8">
      <h2 class="heading-secondary">
        
      </h2>
    </div>
    <div class="row">
      <div class="story">
        <figure class="story__shape"> 
          <img src="images/nat-8.jpg" alt="1" class="story__img">
          <figcaption class="story__caption">
            TEST
          </figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertiary">
            Heading
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate dolorem, deleniti dolorum laborum porro amet minima deserunt, blanditiis tempora hic, debitis fuga nihil et ullam! Similique veniam quis quam.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="story">
        <figure class="story__shape"> 
          <img src="images/nat-8.jpg" alt="1" class="story__img">
          <figcaption class="story__caption">
            TEST
          </figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertiary">
            Heading
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate dolorem, deleniti dolorum laborum porro amet minima deserunt, blanditiis tempora hic, debitis fuga nihil et ullam! Similique veniam quis quam.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>